.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}
.logo {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}
.logo_place_header {
  z-index: 2;
}
.header__title { /*текст header*/
  margin: 0;
  width: 730px;
  position: absolute;
  left: 64px;
  flex-wrap: wrap;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}
.header__subtitle { /*текст со ссылкой*/
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  flex-wrap: wrap;
  z-index: 2;
}
.header__link {
  margin: 0;
  text-decoration: none;
}
.header__main-illustation {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: blue;
  z-index: 0;
}
.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.two-columns {
  margin-top: 100px;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.two-columns__brief {
  margin: 0;
  width: 175px;
  flex-wrap: wrap;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #42aaff;
}
.two-columns__main-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  flex-wrap: wrap;
}
.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  flex-wrap: wrap;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  flex-wrap: wrap;
}
span.bold {
  font-weight: bold;
}
.digits {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
.section-title {
  margin: 0;
  padding: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
.section-title_zero {
  margin: 0;
  padding: 0;
}
.section-subtitle {
  margin: 20px 0px 0px;
  padding: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.section-subtitle_zero {
  margin: 0;
  padding: 0;
}
.table {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  flex-wrap: wrap;
}
/*Ячейки с данными*/
.table__cell {
  margin: 60px 0px 0px 0px;
  padding: 0;
  width: 250px;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
/*Заголовок в ячейке*/
.table__heading_zero {
  margin: 0;
  padding: 0;
}
.table__text {
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/*Информация в ячейке*/
.table__text_zero {
  margin: 0;
  padding: 0;
}

.feynman {
  margin: 0;
  height: 890px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background-image: url(/images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}
.feynman__title {
  margin: 100px auto 0;
  width: 648px;
}
/*Заголовок*/
.feynman__title_zero {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
  font-weight: 600;
}
.feynman__subtitle {
  margin: 70px auto 0px;
}
/*Надпись*/
.feynman__subtitle_zero {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
}
.feynman__link_zero {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  margin: 0;
  display: flex;
  position: relative;;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: white;
}
.kaufman__triangle_zero {
  margin: 0;
  padding: 0;
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 0;
}
.section-title_theme_dark {
  margin: 90px auto 0px;
  padding: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  text-align: center;
  z-index: 1;
}
/*Заголовок*/
.section-title_zero {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.section-subtitle_theme_dark {
  margin: 20px auto 0px;
  padding: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  z-index: 1;
}
/*Надпись*/
.section-subtitle_zero {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table_theme_dark {
  margin: 0px auto 90px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  flex-wrap: wrap;
  z-index: 1;
}
.table__cell_theme_dark {
  margin: 80px 0px 0px;
  padding: 0;
  width: 200px;
}
/*Заголовок ячейки*/
.table__heading_theme_dark {
  margin: 0;
  padding: 0;
}
/*Текст заголовка ячейки*/
.table__heading_zero {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
/*Информация ячейки*/
.table__text_theme_dark {
  margin: 20px 0 0;
  padding: 0;
}
/*Текст информации ячейки*/
.table__text_zero {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  color: white;
  justify-content: center;
  width: 100%;
  min-height: 350px;
}
.footer__columns {
  margin: 60px auto 40px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: content-box;
  width: 90%;
}
/*Первый столбец*/
.footer__columns_content_copyright {
  margin: 0;
  padding: 0;
  flex-basis: 711px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 711px;
}
/*Второй столбец*/
.footer__columns_content_info {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.logo_place_footer {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
}
.footer__author {
  margin: 18px auto;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer__author_text {
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
/*Ячейки заголовка Второго столбца*/
.footer__column-heading {
  margin: 0 0 20px;
}
/*Текст заголовка Второго столбца*/
.footer__column-heading_text {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
/*Ячейки текста Второго столбца*/
.footer__column-links {
  margin: 0 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/*Текст Второго и Третьего столбца*/
.footer__column-link {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
/*Ячейки текста Третьего столбца*/
.footer__social-icon {
  margin: 0 10px 0 0;
  padding: 0;
  height: 16px;
  width: 16px;
}
/*Модификатор ссылок в footer*/
.footer_text {
  text-decoration: none;
  color: white;
}
/*Модификатор ссылок в page, кроме footer*/
.link_text {
  text-decoration: none;
  color: #2f80ed;
}
